.about-wrapper {
     height: 120vh;

     &::after {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%; 
          height: 120vh;
          background: url(../../images/background-hero.jpg) no-repeat;
          background-size: cover;
          background-position: 0 30%;
          filter: brightness(50%) saturate(165%);
     }

     .content {
          height: 100vh;
          display: flex;
     }

     &-left-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: white;
          width: 50em;
          gap: $space-m;
     }

     h1 {
          font-size: 4rem;
          font-weight: 600;
     }

     p {
          font-size: 2rem;
          width: 65%;
     }

     .download-btn {
          padding: $space-xs 0;
          font-size: 2rem;
          border: 2px solid white;
          text-decoration: none;
          border-radius: 5px;
          color: white;
          display: flex;
          justify-content: center;
          gap: .7em;
          transition: 0.4s;
          width: 55%;
     }

     .download-btn:hover {
          background-color: rgba(255, 255, 255, 0.123);
          backdrop-filter: blur(3px);
     }

     img {
          transform: scale(1.3);
     }
     
     @include mq(breakpoint-xxxl){

          &-left-content {
               width: 35em;
          }

          h1 {
               font-size: 3.7em;
          }

          p {
               font-size: 1.7em;
               width: 75%;
          }

          .download-btn {
               font-size: 1.7em;
               width: 65%;
          }
     }

     @include mq(breakpoint-xxl){
          
          h1 {
               font-size: 3.46em;
          }

          p {
               font-size: 1.46em;
               width: 70%;
          }

          .download-btn {
               font-size: 1.46em;
               width: 60%;
          }
     }
}
