.divider {
     position: relative;
     height: $space-xl;
     width: 100vw;

     path{
          fill: white;
        }

     &.down {
          transform: rotateX(180deg);
          top: -$space-xl;
     }

     &.up {
          transform: rotate(-180deg);
          top: -$space-xl;
     }
}
