.divider-wrapper {
     height: $space-xl;
     
     /*&.up {
          margin-top: $space-xl * 2;
     }*/
}

/*.divider {
     position: relative;
     height: $space-xl;
     width: 120vw;

     path{
          fill: white;
        }

     /*&.down {
          background-color: red;
          transform: rotateX(180deg);
          top: -$space-xl;
     }

     &.up {
          transform: rotate(-180deg);
          top: -$space-xl;
     }
}*/
