.header-section-wrapper {

     margin-bottom: $space-xxl;

     .header-section-title {
          display: flex;
          align-items: center;
          gap: $space-s;
          margin-left: $space-xxs;
     }

     .header-section-icon {
          transform: scale(2);
     }

     h1 {
          display: inline;
          font-size: 3em;
     }

     .header-section-divider {
          background-color: $color-primary;
          height: $space-xxs;
          width: $space-xxl * 1.5;
          margin: $space-xs 0 $space-xs $space-l;
          border-radius: $space-xl;
     }

     p {
          font-size: 1.5em;
          color: $color-neutral-600;
          margin-left: $space-m - .5em;
     }
}