.knowledge-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: $space-xl;
     width: $width-subcontent;
     margin: auto;

     @include mq(breakpoint-s) {
          
          & {
               justify-content: center;
          }
     }
}