.projects-items {
     display: grid;
     grid-gap: $space-xs;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

     @include mq(breakpoint-s) {

          & {
               grid-template-columns: repeat(1, 1fr);
          }
     }
}