/* Breakpoints */
$breakpoints: (
  'breakpoint-s': 320px,
  'breakpoint-m': 900px,
  'breakpoint-l': 1024px,
  'breakpoint-xl': 1200px,
  'breakpoint-xxl': 1400px,
  'breakpoint-xxxl': 1500px,
);

/* Spaces */
$space-xxs: .5em;
$space-xs: 1em;
$space-s: 2em;
$space-m: 3em;
$space-l: 4em;
$space-xl: 5em;
$space-xxl: 6em;
$space-xxxl: 7em;

$space-header: 70px;
$space-content: 90%;

/*  Fonts */
$ff-sometype-mono: 'Sometype Mono';