/* Breakpoints */
$breakpoints: (
  'small': 320px,
  'medium': 900px,
  'large': 1024px,
);

/* Spaces */
$space-small: 1rem;
$space-small-biggest: 2rem;
$space-medium: 3rem;
$space-medium-biggest: 4rem;
$space-large: 5rem;

$space-header: 80px;

/*  Fonts */
$ff-sometype-mono: 'Sometype Mono';